<!--Nico - hele filen-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj medarbejder</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="/add-employee-style.css" th:href="@{add-employee-style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<h1>Opret bruger</h1>

<section class="create-employee-box">
    <form th:action="@{/addEmployee}" method="post">
        <div class="input-field">
            <label for="firstName"><strong>Fornavn: </strong></label>
            <input type="text" id="firstName" name="firstName" placeholder="Fornavn" required>
        </div>
        <div class="input-field">
            <label for="lastName"><strong>Efternavn: </strong></label>
            <input type="text" id="lastName" name="lastName" placeholder="Efternavn" required>
        </div>
        <div class="input-field">
            <label for="workEmail"><strong>Arbejdsemail: </strong></label>
            <input type="text" id="workEmail" name="workEmail" placeholder="Arbejdsemail" required>
        </div>
        <div class="input-field">
            <label for="password"><strong>Password: </strong></label>
            <input type="text" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="input-field">
            <label for="role"><strong>Rolle: </strong></label>
            <select name="role" id="role">
                <option value="dataregistrering">Dataregistrering</option>
                <option value="skade-udbedring">Skade/udbedring</option>
                <option value="forretningsudvikler">Forretningsudvikler</option>
            </select>
        </div>
        <button type="submit">Opret bruger</button>
    </form>
</section>

</body>
</html>