<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="/data-dashboard-style.css" th:href="@{/data-dashboard-style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="dashboard-data-create-container">
        <div class="create-box">
            <a th:href="@{/cars/create}">
                <p>Opret en ny bil i systemet</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/addEmployee}">
                <p>Opret ny bruger i systemet</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/rental-contracts/create}">
                <p>Opret ny lejekontrakt i systemet</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/customer/register}">
                <p>Opret ny kunde i systemet</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/customer/dashboard}">
                <p>Slet kunde</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/rental-contracts/return}">
                <p>Returner bil</p>
            </a>
        </div>
    </div>



<!--fjern understående når customer dashboard er klar-->
    <section>
        <h2>Rediger eksisterende kunde</h2>
        <ul>
            <li th:each="customer : ${customerList}">
                <span th:text="${customer.firstName + ' ' + customer.lastName}"></span>
                <span th:text="${customer.email}"></span>
                <a th:href="@{/customer/edit(customerId=${customer.customerId})}">Rediger</a>
            </li>
        </ul>
    </section>

</main>

</body>
</html>