<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dataregistrering</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <div class="dashboard-data-create-container">
        <div class="create-box">
            <a th:href="@{/cars/create}">
                <p>Opret en ny bil i systemet</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/addEmployee}">
                <p>Opret ny bruger i systemet</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/rental-contracts/create}">
                <p>Opret ny lejekontrakt i systemet</p>
            </a>
        </div>
        <div class="create-box">
            <a th:href="@{/customer/register}">
                <p>Opret ny kunde i systemet</p>
            </a>
        </div>
    </div>

</main>

</body>
</html>