<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret kunde</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="/add-employee-style.css" th:href="@{/add-employee-style.css}">

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<h1>Opret kunde</h1>

<section class="create-employee-box">
    <form th:action="@{/customer/register}" method="post">
        <div class="input-field">
            <input type="text" name="firstName" placeholder="Fornavn" required>
        </div>
        <div class="input-field">
            <input type="text" name="lastName" placeholder="Efternavn" required>
        </div>
        <div class="input-field">
            <input type="text" inputmode="numeric" name="driversLicenseNumber" placeholder="Kørekort" required>
        </div>
        <div class="input-field">
            <input type="text" inputmode="numeric" name="cprNumber" placeholder="CPR-nummer" required>
        </div>
        <div class="input-field">
            <input type="email" name="email" placeholder="Email adresse" required>
        </div>
        <div class="input-field">
            <input type="tel" name="phoneNumber" placeholder="Telefon nummer" required>
        </div>


        <div class="input-field">
            <input type="text" name="streetName" placeholder="Vejnavn" required>
        </div>
        <div class="input-field">
            <input type="text" name="houseNumber" placeholder="Husnummer" required>
        </div>
        <div class="input-field">
            <input type="text" name="floor" placeholder="Etage">
        </div>


        <div class="input-field">
            <input type="text" name="zipCode" placeholder="Postnummer">
            <p th:if="${wrongZipcode != null}" th:text="${wrongZipcode}" style="color:red">
        </div>

        <button type="submit">Opret kunde</button>
    </form>
</section>

</body>
</html>
