<!--Rune hele filen-->
<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/carfavicon.png}" type="image/png">
    <title>Retuner bil</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="/add-employee-style.css" th:href="@{/add-employee-style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<h1>Returner bil</h1>

<p th:if="${fejl}" th:text="${fejl}" style="color: red;"></p>
<section class="create-employee-box">
    <form th:action="@{/rental-contracts/return}" method="post">
        <div class="input-field">
            <label for="carId"> Bil:</label>
            <select id="carId" name="carId" required>
                <option value="">-- Vælg bil --</option>
                <option th:each="car : ${carList}"
                        th:value="${car.carId}"
                        th:text="${car.licensePlate + ' ' + car.status}"></option>
            </select>
        </div>
        <button type="submit">Returner bil</button>
    </form>
</section>
</body>
</html>